
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

.btn {
    font-family: 'Caprasimo', cursive;
    font-size: 14px;
    text-transform: uppercase;
    border:none;
    padding:10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-verde {
background: greenyellow;
color: darkblue;
box-shadow: 0 5px 0 green;
}

.btn-verde:hover{ background: blue;
    color: greenyellow;
    box-shadow: 0 5px 0 green;

}


.btn-lilas {
    background: purple;
    color: yellow;
    box-shadow: 0 5px 0 #3d023d;
}

.btn-lilas:hover {
    background: yellow;
    color: purple;
    box-shadow: 0 5px 0 #3d023d;
}


.btn-azul{
    background: blue;
    color:lightblue;
    box-shadow: 0 5px 0 darkblue;
}

.btn-azul:hover{
    background: lightblue;
    color:blue;
    box-shadow: 0 5px 0 darkblue;
}